:root{
    --black : #000000;
    --gray: #303030;
    --white: #ffffff;
}
/* utils */
.hide{
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.down{
    transform: rotate(180deg);
    transition: all .5s ease-out;
}
.show{
    display: block;
}
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* set default font-color as white */
body{
    color: var(--white);
    font-family: inter, san-serif;
    background-image: url(../assets/mobile/bg-image-daytime.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    padding: 2rem;
}
main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow-y:hidden;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    background-color: rgba(0 0 0 / .3);
    /* padding: 2rem; */
}

.quote, .author{
    font-size: .8rem;
    margin-bottom: 1rem;
}
.time-container{
    display: flex;
    flex-direction: column;
}
.time-display{
    display: flex;
    align-items: baseline;
}
.time-display .zone{
    font-size: .8rem;
    margin-left: .5rem;
    font-weight: 300;
    letter-spacing: .2rem;
}
.greetings h2{
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.time-display h1{
    font-size: 7rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0;
}
.location{
    margin-top: -1rem;
}
.location p{
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.clock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.more-less{
    color: var(--gray);
    letter-spacing: .2rem;
    text-transform: uppercase;
    background-color: var(--white);
    width: 14ch;
    padding: 0.5rem;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    padding: 3px 0;
    margin-top: 3rem;
}
.more-less-icon{
    height: 40px;
    height: 40px;
    margin-right: .2rem;

}

.details{
    background-color: #959595;
    padding: 2rem 0;
    overflow: hidden;
    transition: all 1s ease-out;
    position: relative;
    bottom: -2rem;
}
.timezone-days-of-year, .days-of-year, .day-of-week, .week-number{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-transform: uppercase;
}
.timezone-text, .days-of-year-text, .day-of-week-text, .week-number-text{
    font-size: .8rem;
    font-weight: 300;
}

/* SMARTPHONES PORTRAIT
@media only screen and (min-width: 300px) {


} */

/* SMARTPHONES LANDSCAPE */
/* @media only screen and (min-width: 480px) {


} */

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
    .details{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .timezone-details, .days-of-week-number{
        display: flex;
        flex-direction: column;
      
    }
    .timezone-days-of-year, .days-of-year, .day-of-week, .week-number{
        display: flex;
        flex-direction: column;
       
    }
    .timezone-value, .days-of-year-value, .day-of-week-value, .week-number-value{
        font-size: 2rem;
    }
    .container{
        padding: 2rem 4rem;
    }
    .quote-container{
        width: 45ch;
    }
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {


}   